<img class="for_info_only half" src="{{MEDIA}}house_password_v1_400.png" style="max-height: 400px; float: left">

<p style="text-align: justify;">
    Стефан і Софія забувають про безпеку і використовують прості паролі для всього.
    Допоможіть Миколі розробити модуль перевірки надійності паролів. Пароль буде вважатися достатньо надійним, якщо його довжина більше або дорівнює 10 символів, він містить хоча б одну цифру, а також містить одну велику і одну малу літери. Пароль містить тільки латинські літери або цифри в кодуванні ASCII.
</p>

<p><strong>Вхідні дані:</strong> Пароль у вигляді рядка <span>(str{% if is_js %}ing{% endif %})</span>.</p>
<p><strong>Вихідні дані:</strong> Безпечний пароль чи ні як логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>.</p>

<p class="for_info_only">
<strong>Приклади:</strong>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</p>

<br>
<p class="for_info_only">
   <strong>Як це використовується:</strong>
    Якщо ви турбуєтеся про безпеку вашого додатку або сервісу, ви можете перевірити паролі ваших користувачів на складність. Ви можете використовувати ці навички, щоб вимагати, щоб паролі ваших користувачів відповідали більшій кількості умов (розділові знаки або юнікод).
</p>

<p>
    <strong>Передумови:</strong>
    <ul>
        <li>re.match("[a-zA-Z0-9]+", password);</li>
        <li>0 &lt; len(password) &le; 64.</li>
    </ul>
</p>
    
