<img class="for_info_only half" src="{{MEDIA}}house_password_v1_400.png" style="max-height: 400px; float: left">

<p style="text-align: justify;">
    Stephan et Sophia oublient la sécurité et utilisent des mots de passe simples pour tout.
    Aidez Nikola à développer un module de vérification de la sécurité des mots de passe. Le mot de passe sera considéré comme suffisamment fort si sa longueur est supérieure ou égale à 10 symboles, s'il comporte au moins un chiffre et s'il contient une lettre majuscule et une lettre minuscule. Le mot de passe ne contient que des lettres ou des chiffres latins ASCII.
</p>

<p><strong>Entrée:</strong> Un mot de passe sous forme de chaîne <span>(str{% if is_js %}ing{% endif %})</span>.</p>
<p><strong>Sortie:</strong> Le mot de passe est-il sûr ou non sous la forme d'une valeur logique? <span>(bool{% if is_js %}ean{% endif %})</span>.</p>

<p class="for_info_only">
<strong>Exemples:</strong>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</p>

<br>
<p class="for_info_only">
   <strong>Comment il est utilisé:</strong>
    Si vous êtes préoccupé par la sécurité de votre application ou service, vous pouvez vérifier la complexité des mots de passe de vos utilisateurs. Vous pouvez utiliser ces compétences pour exiger que les mots de passe de vos utilisateurs remplissent plus de conditions (ponctuations ou unicode).
</p>

<p>
    <strong>Conditions préalables:</strong>
    <ul>
        <li>re.match("[a-zA-Z0-9]+", password);</li>
        <li>0 &lt; len(password) &le; 64.</li>
    </ul>
</p>
    
